.container {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  gap: 1px;
  background-color: rgb(252, 252, 251);
  padding: 5px;
}

.container div {
  background-color: rgb(249, 245, 245);
  padding: 10px;
  border-radius: 5px;

}
.container div.sidebar {
  grid-area: sidebar;
  padding: 20px;
  background-color: #F5F5F0;
  font-size : 24px;
}
.container .sidebar ul{
  list-style: none;
  margin-top: 20px;
  padding: 0;
}
.container .sidebar ul li {
  margin-bottom: 30px;
}
.container .sidebar ul li:last-child {
  margin-bottom: 0;
}
.container .sidebar ul li a{
  color:black;
  gap: 5px;
  text-decoration: none;
  display: block;
}

.container div.content {
  grid-area: content;
}

header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.site-title {
  font-size: 1.8em;
  font-weight: bold;
}

.logo {
  height: 40px;
  width: auto;
  object-fit: contain;
  justify-content: left;
}

header nav {
  padding: 0;
  margin: 0;
}

header nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

header nav li {
  display: inline;
}

header nav a {
  color: rgb(32, 26, 26);
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: color 0.15s;
  display: flex;
  flex-direction: row;
  font-size: 24px;
}

header nav a:hover {
  color: red;
}

.header nav a.active {
  color: green;
  font-weight: bold;
}






footer {
  grid-area: footer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

@media (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas:
      "header"
      "content"
      "sidebar"
      "footer";
  }
  header {
    flex-direction: column;
  }
  header nav {
    width: 100%;
  }
  header nav ul {
    justify-content: center;
  }

}